<form role="form" method="post" action="{% url 'custadv:custqtnNew' custadv.id %}">{% csrf_token %}
  <table style="margin-left: 1em; width: 97.5%;" class="table table-hover table-bordered table-responsive ">
    <thead>
      <tr>
        <th style="width: 1%;vertical-align: middle;display:none;">#ID</th>
        <th style="width: 1%;vertical-align: middle;">No.</th>
        <th style="vertical-align: middle">ORG</th>
        <th style="vertical-align: middle">日期</th>
        <th style="vertical-align: middle">說明</th>
        <th class="text-center">
        <button class="btn btn-default btn-sm" disabled>
          <span class="glyphicon glyphicon-hand-down"></span>&nbsp;Action</button>
        </th>
      </tr>
    </thead>
    <tbody style="background-color:white">
      <tr>
        {{ form.non_field_errors }}
        <td style="display:none;">
          <div class="form-group">
             {{ form.id.errors}}
             {{ form.id }}
          </div>
        </td>
        <td style="width: 1%;vertical-align: middle;text-align:center;">X</td>
        <td class="tabledit-edit-mode">
          <span class="tabledit-span" style="display:none"></span>
             {{ form.org.errors}}
             {{ form.org }}
        </td>
        <td class="tabledit-edit-mode">
          <span class="tabledit-span" style="display:none"></span>
          <div id='qtnDate'>
            {{ form.qtndd.errors}}
            {{ form.qtndd }}
          </div>
            <!--<div class='input-group date' id='qtnDate'>-->
              <!--{{ form.qtndd }}-->
              <!--<span class="input-group-addon">-->
                <!--<span class="glyphicon glyphicon-calendar"></span>-->
              <!--</span>-->
            <!--</div>-->
        </td>
        <td class="tabledit-edit-mode">
          <span class="tabledit-span" style="display:none"></span>
            {{ form.qtns.errors}}
            {{ form.qtns }}
        </td>
        <td style="white-space: nowrap; width: 1%;">
          <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
            <input class="tabledit-save-button btn btn-success btn-sm" type="submit" value="存檔" style="float: none;" />
            <!--<a class="btn btn-warning btn-sm" href="{% url 'custadv:custadvUpdate' custadv.id %}">取消</a>-->
            <button onclick="custqtnEdit()" class="tabledit-cancel-button btn btn-warning btn-sm" style="float: none;">取消</button>
          </div>
        </td>
      </tr>
      {% for custqtn in custqtns %}
        <tr class="tabledit-view-mode">
          <td style="display:none;">{{ custqtn.id }}</td>
          <td style="text-align:center;">{{ forloop.counter }}</td>
          <td>{{ custqtn.org }}</td>
          <td>{{ custqtn.qtndd|date:"Y-m-d" }}</td>
          <td>{{ custqtn.qtns }}</td>
          <td></td>
        </tr>
      {% endfor %}
   
    </tbody>
  </table>
</form>
<script>
    function custqtnEdit() {
        $('#custqtnEdit').show();
        $('#custqtnNew').html('');
    }
    $(document).ready(function(){
        $('#qtnDate input').datepicker({
            format:"yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        }).datepicker("setDate", "0");
    })
</script>