<form role="form" method="post" action="{% url 'custadv:custqtnNew' custadv.id %}">{% csrf_token %}
  <table style="margin-left: 1em; width: 97.5%;" class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th style="width: 1%;vertical-align: middle;">#ID</th>
        <th style="width: 1%;vertical-align: middle;">No.</th>
        <th style="vertical-align: middle">ORG</th>
        <th style="vertical-align: middle">日期</th>
        <th style="vertical-align: middle">說明</th>
        <th class="text-center">
        <button class="btn btn-default btn-sm" disabled>
          <span class="glyphicon glyphicon-hand-down"></span>&nbsp;Action</button>
        </th>
      </tr>
    </thead>
    <tbody style="background-color:white">
      <tr style="vertical-align: middle;padding-bottom: 0px">
        {{ form.non_field_errors }}
        <td>
          <div class="form-group">
             {{ form.id.errors}}
             {{ form.id }}
          </div>
        </td>
        <td></td>
        <td>
          <div class="form-group">
             {{ form.org.errors}}
             {{ form.org }}
          </div>
        </td>
        <td>
          <div class="form-group">
            {{ form.qtndd.errors}}
            <div class='input-group date' id='datepicker1'>
              {{ form.qtndd }}
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            {{ form.qtns.errors}}
            {{ form.qtns }}
          </div>
        </td>
        <td class="text-center">
          <input class="btn btn-success btn-sm" type="submit" value="存檔" />
          <!--<a class="btn btn-warning btn-sm" href="{% url 'custadv:custadvUpdate' custadv.id %}">取消</a>-->
          <button onclick="custqtnEdit()" class="btn btn-warning btn-sm">取消</button>
        </td>
      </tr>
      {% for custqtn in custqtns %}
        <tr>
        <td>{{ custqtn.id }}</td>
        <td>{{ forloop.counter }}</td>
        <td>{{ custqtn.org }}</td>
        <td>{{ custqtn.qtndd|date:"Y-m-d" }}</td>
        <td>{{ custqtn.qtns }}</td>
        <td></td>
        </tr>
      {% endfor %}
   
    </tbody>
  </table>
</form>
<script>
    function custqtnEdit() {
            $('#custqtnEdit').show();
            $('#custqtnNew').html('');
    }
    $(document).ready(function(){
        $('#datepicker1').datepicker({
            format:"yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        }).datepicker("setDate", "0");
    })
</script>