{% extends "custadv/base.html" %}

{% block app_content %}

{% include "custadv/nav.html" with custadv=custadv title=title %}
{% include 'main/messages.html' %}
<div id="div_messages" class="text-center align-middle" style="position:fixed;top:80px;right:0;width:160px;height:50px;border-radius:25px;"></div>
<div>
  <form id="masterForm" role="form" method="post">{% csrf_token %}
    <div class="btn-group btn-group-md" style="margin-top:-15px; margin-bottom:-20px; float: right;">
      <input class="btn btn-primary btn-md" type="submit" value="存檔"/>
      <!--
      {% if custadv %}
        <a class="btn btn-warning btn-md" href="{% url 'custadv:custadvUpdate' custadv.id %}">取消</a>
      {% endif %}
      -->
      <a class="btn btn-warning btn-md" href="{% url 'custadv:custadvList' %}">離開</a>
    </div>
    {{ form.non_field_errors }}
    <div>
      <div class="form-row">
        <div class="form-group col-md-3">
          {{ form.cuno.errors}}
          {{ form.cuno.label_tag}}
          {{ form.cuno }}
        </div>
        <div class="form-group col-md-9">
          {{ form.ipntfy.errors}}
          {{ form.ipntfy.label_tag}}
          {{ form.ipntfy }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          {{ form.ipntfym.errors}}
          {{ form.ipntfym.label_tag}}
          {{ form.ipntfym }}
        </div>
        <div class="form-group col-md-4">
          {{ form.ipntftl.errors}}
          {{ form.ipntftl.label_tag}}
          {{ form.ipntftl }}
        </div>
        <div class="form-group col-md-4">
          {{ form.ipntffx.errors}}
          {{ form.ipntffx.label_tag}}
          {{ form.ipntffx }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <div class="form-check">
            {{ form.ipmnspay.errors}}
            <label class="checkbox-inline">{{ form.ipmnspay }}{{ form.ipmnspay.label }}</label>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="form-check">
            {{ form.ipentry.errors}}
            <label class="checkbox-inline">{{ form.ipentry }}{{ form.ipentry.label }}</label>
          </div>
        </div>
        <div class="form-group col-md-4">
            <div class="form-check">
            {{ form.iprtord.errors}}
            <label class="checkbox-inline">{{ form.iprtord }}{{ form.iprtord.label }}</label>
          </div>
        </div>
      </div>
      <div class="form-row align-text-top">
        <div class="form-group col-md-12">
            {{ form.ipntfmk.errors}}
            {{ form.ipntfmk.label_tag}}
            {{ form.ipntfmk }}
        </div>
      </div>
    </div>
  </form>
  <div id="custqtnEdit" class="form-row">
    <table style="margin-left: 1em; width: 97.5%;" id="custqtn" class="table table-hover table-bordered table-responsive table-condensed">
      <thead>
        <tr>
          <th style="display:none;width: 1%;vertical-align: middle;">#ID</th>
          <th style="width: 1%;vertical-align: middle;text-align:center">No.</th>
          <th style="vertical-align: middle">ORG</th>
          <th style="vertical-align: middle">日期</th>
          <th style="vertical-align: middle">說明</th>
          <th class="text-center" style="width:5%">
            {% if custadv %}
              <input type="hidden" id="Url" data-url="{% url 'custadv:custqtnNew' custadv.id %}" />
              <button onclick="newqtnForm()" class="btn btn-info btn-block btn-sm active" id="newqtn">
              <span class="glyphicon glyphicon-plus"></span>&nbsp;<b>Line</b></button>
            {% else %}
              <button class="btn btn-info btn-block btn-sm active" id="newqtn" disabled>
              <span class="glyphicon glyphicon-plus"></span>&nbsp;<b>Line</b></button>
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody style="background-color:white">
          {% for custqtn in custqtns %}
            <tr>
              <td style="display:none">{{ custqtn.id }}</td>
              <td style="vertical-align: middle;text-align:center">{{ forloop.counter }}</td>
              <td style="vertical-align: middle;">{{ custqtn.org }}</td>
              <td style="vertical-align: middle;">{{ custqtn.qtndd|date:"Y-m-d" }}</td>
              <td style="vertical-align: middle;">{{ custqtn.qtns }}</td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="custqtnNew" class="form-row"></div>
</div>
<script>
 
    function newqtnForm() {
        var url = $("#Url").attr("data-url");
        $.get(url, {'request': 'custqtn'}, function (data, status) {
            $('#custqtnEdit').hide();
            $('#custqtnNew').html(data);
        });
    }
    
    $(document).ready(function() {

        $('#masterForm input[type="submit"]').prop('disabled', true);

        $('#masterForm').bind('change keyup', function () {
            $('#masterForm input[type="submit"]').prop('disabled', false);
            console.log('changed');
        });
        
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
        
        $('#custqtn').Tabledit({
            url: '{% url "custadv:custqtnTabledit" %}',
            restoreButton: false,
            hideIdentifier: true,
            columns: {
                identifier: [0, 'id'],
                editable: [[2, 'org'], [3, 'qtndd'], [4, 'qtns']]
            },
            onDraw: function () {
                // Select all inputs of second column and apply datepicker each of them
                $('table tr td:nth-child(4)').each(function () {
                    $(this).datepicker({
                        format: "yyyy-mm-dd",
                        todayBtn: "linked",
                        autoclose: true,
                        todayHighlight: true,
                    });
                });
            },
            onSuccess: function (data, textStatus, jqXHR) {
                console.log('onSuccess(data, textStatus, jqXHR)');
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
                if (data['request'].action == 'delete')
                 {
                  $('#'+data['request'].id).remove();
                 }
                 update_messages(data.messages);
                 $(".alert").fadeOut(5000);
            },
            onFail: function (jqXHR, textStatus, errorThrown) {
                console.log('onFail(jqXHR, textStatus, errorThrown)');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            },
            onAlways: function () {
                console.log('onAlways()');
            },
            onAjax: function (action, serialize) {
                console.log('onAjax(action, serialize)');
                console.log(action);
                console.log(serialize);
            }
        });

        $('#custqtn thead tr th:last-child').remove();
        
    });
    function update_messages(messages) {
        $("#div_messages").html("");
        $.each(messages, function (i, m) {
            var html = "<div class='alert alert-"+m.tags+" alert-dismissible fade in'>"+"<strong>"+m.message+"</strong>"+"</div>";
            $("#div_messages").append(html);
        });
    }
</script>

{% endblock app_content %}