{% extends "awbin/base.html" %}

{% block app_content %}

{% include "awbin/nav.html" with mawbin=mawbin title=title %}

  <div class="btn-group btn-group-md" style="margin-top:-15px; float: right;">
    <a href="{% url 'awbin:mawbinUpdate' mawbin.id %}" class="tabledit-edit-button btn btn-md btn-primary active"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="{% url 'awbin:mawbinDelete' mawbin.id %}" class="tabledit-delete-button btn btn-md btn-warning active"><span class="glyphicon glyphicon-trash"></span></a>
  </div>
<div class="col-xs-12 col-sm-12">
  <form id="masterForm" role="form" method="post">{% csrf_token %}
    {% include "awbin/mawbinInput.html" %}
  </form>
</div>
<script>
  $(document).ready(function(){
      $('#masterForm :input').prop('readonly',true);
      $('#id_agtcode').attr("disabled", true);
      $('#id_mfrom').attr("disabled", true);
      $('#id_mcusdept').attr("disabled", true);
      $('#id_msvcknd').attr("disabled", true);
      $('#id_marvapt').attr("disabled", true);
      $('#id_munlodwh').attr("disabled", true);
      $('#id_mpkgunit').attr("disabled", true);
      $('#id_mgwunit').attr("disabled", true);
      $('#id_mchgunit').attr("disabled", true);
      $('#id_mccpp').attr("disabled", true);
      $('#id_mcurncy').attr("disabled", true);
      $('#masterForm select').children('option').attr('disabled', true);
      
  });
</script>
{% endblock app_content %}