{% extends "awbin/base.html" %}
{% block extra_style%}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 0.8em;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
{% endblock %}
{% block app_content %}

{% include "awbin/nav.html" with mawbin=mawbin title=title %}
{% include 'main/messages.html' %}
<div id="div_messages" class="text-center align-middle" style="position:fixed;top:80px;right:0;width:160px;height:50px;border-radius:25px;"></div>
<div class="btn-group btn-group-md" style="margin-top:-20px; float: left;">
  {% if mawbin %}
    <a class="btn btn-dark btn-md" href="#debit">Debit Note</a>
    <a class="btn btn-dark btn-md" href="#credit">Credit Note</a>
    <a class="btn btn-dark btn-md" href="#cod">COD</a>
    <a class="btn btn-dark btn-md" href="#remark">Remark</a>
    <a class="btn btn-dark btn-md" href="{% url 'awbin:hawbinCreate' mawbin.id %}">New HAWB</a>
  {% endif %}
</div>
<div class="col-xs-12 col-sm-12">
  <form id="masterForm" role="form" method="post">{% csrf_token %}
    <div class="btn-group btn-group-md" style="margin-top:-30px; float: right;">
      <input class="btn btn-primary btn-md" type="submit" value="存檔"/>
      <a class="btn btn-warning btn-md" href="{% url 'awbin:mawbinList' %}">離開</a>
    </div>
    {% include "awbin/mawbinInput.html" %}
  </form>
</div>

<div class="row">
  <div class="col-sm-6">
    <h4 id="debit">Debit Note</h4>
    <div id="debitEdit">
      <table id="debitNote" class="table table-hover table-bordered table-responsive table-condensed">
        <thead>
          <tr>
            <th style="width: 1%;vertical-align: middle;display:none;">#ID</th>
            <th style="width: 1%;vertical-align: middle;">#</th>
            <th style="width: 22%;vertical-align: middle;">DB#</th>
            <th style="width: 19%;vertical-align: middle;">幣別</th>
            <th style="vertical-align: middle">金額</th>
            <th class="text-center" style="width:5%">
              {% if mawbin %}
                <input type="hidden" id="dbnUrl" data-url="{% url 'awbin:dbnoteNew' mawbin.id %}" />
                <button id="newdbnBtn" onclick="newdbnForm()" class="btn btn-info btn-block btn-sm active">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<b>DB#</b></button>
              {% else %}
                <button class="btn btn-info btn-block btn-sm active" disabled>
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<b>DB#</b></button>
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody style="background-color:white">
          {% for debit in debits %}
            <tr>
              <td style="display:none">{{ debit.id }}</td>
              <td style="vertical-align: middle;text-align:center">{{ forloop.counter }}</td>
              <td style="vertical-align: middle;">{{ debit.dcno }}</td>
              <td style="vertical-align: middle;">{{ debit.dccurn }}</td>
              <td style="vertical-align: middle;">{{ debit.dcamt }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="debitNew"></div>
  </div>

  <div class="col-sm-6">
    <h4 id="credit">Credit Note</h4>
    <div id="creditEdit">
      <table id="creditNote" class="table table-hover table-bordered table-responsive table-condensed">
        <thead>
          <tr>
            <th style="width: 1%;vertical-align: middle;display:none;">#ID</th>
            <th style="width: 1%;vertical-align: middle;">#</th>
            <th style="width: 22%;vertical-align: middle;">CD#</th>
            <th style="width: 19%;vertical-align: middle;">幣別</th>
            <th style="vertical-align: middle">金額</th>
            <th class="text-center" style="width:5%">
              {% if mawbin %}
                <input type="hidden" id="cdnUrl" data-url="{% url 'awbin:cdnoteNew' mawbin.id %}" />
                <button id="newcdnBtn" onclick="newcdnForm()" class="btn btn-info btn-block btn-sm active">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<b>CD#</b></button>
              {% else %}
                <button class="btn btn-info btn-block btn-sm active" disabled>
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<b>CD#</b></button>
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody style="background-color:white">
          {% for credit in credits %}
            <tr>
              <td style="display:none">{{ credit.id }}</td>
              <td style="vertical-align: middle;text-align:center">{{ forloop.counter }}</td>
              <td style="vertical-align: middle;">{{ credit.dcno }}</td>
              <td style="vertical-align: middle;">{{ credit.dccurn }}</td>
              <td style="vertical-align: middle;">{{ credit.dcamt }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="creditNew"></div>
  </div>

</div>


<div id="remarkList" class="col-xs-12 col-sm-12" style="background-color:white">
  <h4 id="remark">Remark</h4>
  <table class="table table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th style="vertical-align: middle;">HAWB#</th>
          <th style="vertical-align: middle;">Code</th>
          <th style="vertical-align: middle">Descript</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
  </table>
</div>

<div id="codList" class="col-xs-12 col-sm-12" style="background-color:white">
    <h4 id="cod">COD</h4>
    <table class="table table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th style="vertical-align: middle;">HAWB#</th>
          <th style="vertical-align: middle;">幣別</th>
          <th style="vertical-align: middle;">金額</th>
          <th style="vertical-align: middle;">收訖日</th>
          <th style="vertical-align: middle;">付給日</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
</div>


<script>
    function newdbnForm() {
        var url = $("#dbnUrl").attr("data-url");
        $.get(url, {'request': 'debit'}, function (data, status) {
            $('#debitEdit').hide();
            $('#debitNew').html(data);
        });
    }

    function newcdnForm() {
        var url = $("#cdnUrl").attr("data-url");
        // alert(url);
        $.get(url, {'request': 'credit'}, function (data, status) {

            $('#creditEdit').hide();
            $('#creditNew').html(data);
        });
    }

  $(document).ready(function(){
      
        $('#masterForm input[type="submit"]').prop('disabled', true);

        $('#masterForm').bind('change keyup', function () {
            $('#masterForm input[type="submit"]').prop('disabled', false);
            console.log('changed');
        
            var m_cusdept = document.getElementById("id_mcusdept").value;
            if (m_cusdept === "CA") {
                document.getElementById("id_marvapt").value = "TWTPE";
                
                var m_marvflt = document.getElementById("id_marvflt").value;
                document.getElementById("id_munlodwh").value = "C2001";
                if (m_marvflt.substr(0,2).indexOf("CV,NX,FM,") !== -1){
                    document.getElementById("id_munlodwh").value = "C2009";
                }
                if (m_marvflt.substr(0,2).indexOf("NW,TG,CP,PO,UA,") !== -1){
                    document.getElementById("id_munlodwh").value = "C2007";
                }

            }
            else{
                document.getElementById("id_marvapt").value = "TWKHH";
                document.getElementById("id_munlodwh").value = "B2140";
            }

            var m_mgwunit = document.getElementById("id_mgwunit").value;
            var m_mchgunit = document.getElementById("id_mchgunit").value;
            var m_mgw = parseFloat(document.getElementById("id_mgw").value).toFixed(1);
            if (!m_mchgunit && m_mgwunit){
                document.getElementById("id_mchgunit").value = m_mgwunit;
                document.getElementById("id_mchgwt").value = m_mgw;
            }
            
            var m_mchgwt = parseFloat(document.getElementById("id_mchgwt").value).toFixed(1);
            if (m_mchgunit === m_mgwunit){
                if (m_mchgwt < m_mgw){
                    m_mchgwt = m_mgw;
                    document.getElementById("id_mchgwt").value = m_mchgwt;
                }
            }
            else {
                if (m_mchgunit === "KGS") {
                    if (m_mchgwt < m_mgw / 2.2046) {
                        m_mchgwt = parseFloat(m_mgw / 2.2046).toFixed(1);
                        document.getElementById("id_mchgwt").value = m_mchgwt;
                    }
                }
                if (m_mchgunit === "LBS"){
                    if (m_mchgwt < m_mgw * 2.2046) {
                        m_mchgwt = parseFloat(m_mgw * 2.2046).toFixed(1);
                        document.getElementById("id_mchgwt").value = m_mchgwt;
                    }                   
                }
            }
            
            if (m_mchgunit === "KGS"){
                document.getElementById("id_mkgchgwt").value = m_mchgwt;
            }
            else if (m_mchgunit === "LBS"){
                document.getElementById("id_mkgchgwt").value = parseInt(m_mchgwt/2.2046+0.9);
            }
            
            var m_mcurncystr = $('#id_mcurncy').children('option:selected').text();
            var m_mexchg;
            if (m_mcurncystr){
                m_mexchg = m_mcurncystr.split("-").pop().trim();
                document.getElementById("id_mexchg").value = m_mexchg;
            }
            
            var m_mfrtrte = parseFloat(document.getElementById("id_mfrtrte").value).toFixed(2);
            var m_mwtchrg = parseFloat(m_mchgwt*m_mfrtrte).toFixed(2).toString();
            
            document.getElementById("id_mwtchrg").value = m_mwtchrg;
         
            if (m_mexchg){
                m_mwtchtwd = parseInt(parseFloat(m_mwtchrg)*parseFloat(m_mexchg) + 0.9);
                document.getElementById("id_mwtchtwd").value = m_mwtchtwd;
            }
            
            var m_mduagt = document.getElementById("id_mduagt").value;
            var m_mducar = document.getElementById("id_mducar").value;
            var m_mttlfrt = parseFloat(m_mwtchrg) + parseFloat(m_mduagt) + parseFloat(m_mducar);
            
            document.getElementById("id_mttlfrt").value = m_mttlfrt.toFixed(2).toString();

            if (m_mexchg){
                m_mtlfrtwd = parseInt(m_mttlfrt*parseFloat(m_mexchg) + 0.9);
                document.getElementById("id_mtlfrtwd").value = m_mtlfrtwd.toFixed(2).toString();
            }

        });
        
        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        }).datepicker("setDate", "0");
        var currency_data = JSON.parse('{{ currency_list|safe }}');
        // alert(JSON.stringify(currency_data));
        $('#debitNote').Tabledit({
            url: '{% url "awbin:debitTabledit" %}',
            restoreButton: false,
            hideIdentifier: true,
            columns: {
                identifier: [0, 'id'],
                editable: [
                    [2, 'dcno'],
                    [3, 'dccurn', JSON.stringify(currency_data)],
                    [4, 'dcamt']
                ]
            },
            onSuccess: function (data, textStatus, jqXHR) {
                console.log('onSuccess(data, textStatus, jqXHR)');
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
                if (data['request'].action == 'delete')
                 {
                  $('#'+data['request'].id).remove();
                 }
                 update_messages(data.messages);
                 $(".alert").fadeOut(5000);
            },
            onFail: function (jqXHR, textStatus, errorThrown) {
                console.log('onFail(jqXHR, textStatus, errorThrown)');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            },
            onAlways: function () {
                console.log('onAlways()');
            },
            onAjax: function (action, serialize) {
                console.log('onAjax(action, serialize)');
                console.log(action);
                console.log(serialize);
            }
        });

        $('#debitNote thead tr th:last-child').remove();

        $('#creditNote').Tabledit({
            url: '{% url "awbin:creditTabledit" %}',
            restoreButton: false,
            hideIdentifier: true,
            columns: {
                identifier: [0, 'id'],
                editable: [
                    [2, 'dcno'],
                    [3, 'dccurn', JSON.stringify(currency_data)],
                    [4, 'dcamt']
                ]
            },
            onSuccess: function (data, textStatus, jqXHR) {
                console.log('onSuccess(data, textStatus, jqXHR)');
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
                if (data['request'].action == 'delete')
                 {
                  $('#'+data['request'].id).remove();
                 }
                 update_messages(data.messages);
                 $(".alert").fadeOut(5000);
            },
            onFail: function (jqXHR, textStatus, errorThrown) {
                console.log('onFail(jqXHR, textStatus, errorThrown)');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            },
            onAlways: function () {
                console.log('onAlways()');
            },
            onAjax: function (action, serialize) {
                console.log('onAjax(action, serialize)');
                console.log(action);
                console.log(serialize);
            }
        });

        $('#creditNote thead tr th:last-child').remove();

  });
</script>
{% endblock app_content %}