{% extends "awbin/base.html" %}
{% block extra_style%}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 0.8em;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
{% endblock %}
{% block app_content %}

{% include "awbin/nav.html" with mawbin=mawbin title=title %}
{% include 'main/messages.html' %}
<div id="div_messages" class="text-center align-middle" style="position:fixed;top:80px;right:0;width:160px;height:50px;border-radius:25px;"></div>

  <form id="masterForm" role="form" method="post">{% csrf_token %}
    <div class="btn-group btn-group-md" style="margin-top:-15px; float: right;">
      <input class="btn btn-primary btn-md" type="submit" value="存檔"/>
      <a class="btn btn-warning btn-md" href="{% url 'awbin:mawbinList' %}">離開</a>
    </div>
    <div class="col-xs-12 col-sm-12">
      {% include "awbin/mawbinInput.html" %}
      <!--{{ form.as_p }}-->
    </div>
  </form>
  
<script>
  
  $(document).ready(function(){
      
        $('#masterForm input[type="submit"]').prop('disabled', true);

        $('#masterForm').bind('change keyup', function () {
            $('#masterForm input[type="submit"]').prop('disabled', false);
            console.log('changed');
        
            var m_cusdept = document.getElementById("id_mcusdept").value;
            if (m_cusdept === "CA") {
                document.getElementById("id_marvapt").value = "TWTPE";
                
                var m_marvflt = document.getElementById("id_marvflt").value;
                document.getElementById("id_munlodwh").value = "C2001";
                if (m_marvflt.substr(0,2).indexOf("CV,NX,FM,") !== -1){
                    document.getElementById("id_munlodwh").value = "C2009";
                }
                if (m_marvflt.substr(0,2).indexOf("NW,TG,CP,PO,UA,") !== -1){
                    document.getElementById("id_munlodwh").value = "C2007";
                }

            }
            else{
                document.getElementById("id_marvapt").value = "TWKHH";
                document.getElementById("id_munlodwh").value = "B2140";
            }

            var m_mgwunit = document.getElementById("id_mgwunit").value;
            var m_mchgunit = document.getElementById("id_mchgunit").value;
            var m_mgw = parseFloat(document.getElementById("id_mgw").value).toFixed(1);
            if (!m_mchgunit && m_mgwunit){
                document.getElementById("id_mchgunit").value = m_mgwunit;
                document.getElementById("id_mchgwt").value = m_mgw;
            }
            
            var m_mchgwt = parseFloat(document.getElementById("id_mchgwt").value).toFixed(1);
            if (m_mchgunit === m_mgwunit){
                if (m_mchgwt < m_mgw){
                    m_mchgwt = m_mgw;
                    document.getElementById("id_mchgwt").value = m_mchgwt;
                }
            }
            else {
                if (m_mchgunit === "KGS") {
                    if (m_mchgwt < m_mgw / 2.2046) {
                        m_mchgwt = parseFloat(m_mgw / 2.2046).toFixed(1);
                        document.getElementById("id_mchgwt").value = m_mchgwt;
                    }
                }
                if (m_mchgunit === "LBS"){
                    if (m_mchgwt < m_mgw * 2.2046) {
                        m_mchgwt = parseFloat(m_mgw * 2.2046).toFixed(1);
                        document.getElementById("id_mchgwt").value = m_mchgwt;
                    }                   
                }
            }
            
            if (m_mchgunit === "KGS"){
                document.getElementById("id_mkgchgwt").value = m_mchgwt;
            }
            else if (m_mchgunit === "LBS"){
                document.getElementById("id_mkgchgwt").value = parseInt(m_mchgwt/2.2046+0.9);
            }
            
            var m_mcurncystr = $('#id_mcurncy').children('option:selected').text();
            var m_mexchg;
            if (m_mcurncystr){
                m_mexchg = m_mcurncystr.split("-").pop().trim();
                document.getElementById("id_mexchg").value = m_mexchg;
            }
            
            var m_mfrtrte = parseFloat(document.getElementById("id_mfrtrte").value).toFixed(2);
            var m_mwtchrg = parseFloat(m_mchgwt*m_mfrtrte).toFixed(2).toString();
            
            document.getElementById("id_mwtchrg").value = m_mwtchrg;
         
            if (m_mexchg){
                m_mwtchtwd = parseInt(parseFloat(m_mwtchrg)*parseFloat(m_mexchg) + 0.9);
                document.getElementById("id_mwtchtwd").value = m_mwtchtwd;
            }
            
            var m_mduagt = document.getElementById("id_mduagt").value;
            var m_mducar = document.getElementById("id_mducar").value;
            var m_mttlfrt = parseFloat(m_mwtchrg) + parseFloat(m_mduagt) + parseFloat(m_mducar);
            
            document.getElementById("id_mttlfrt").value = m_mttlfrt.toFixed(2).toString();

            if (m_mexchg){
                m_mtlfrtwd = parseInt(m_mttlfrt*parseFloat(m_mexchg) + 0.9);
                document.getElementById("id_mtlfrtwd").value = m_mtlfrtwd.toFixed(2).toString();
            }

        });
        
        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
            todayBtn: "linked",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        }).datepicker("setDate", "0");

        
        
  });
</script>
{% endblock app_content %}