<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{csrf_token}}">
  <title>安抵空運{% block title %}welcome{% endblock %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main/css/bootstrap-datepicker3.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  <!-- <link rel="stylesheet" href="{% static 'main/css/reset.css' %}"> -->
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    <!--JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static 'main/js/csrf.js' %}"></script>
  <script src="{% static 'main/js/jquery.tabledit.min.js' %}"></script>
  <script src="{% static 'main/js/moment.js' %}"></script>
  <script src="{% static 'main/js/bootstrap-datepicker.js' %}"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>


</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">安抵空運代理股有限公司</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <button type="submit" class="btn btn-success">登入</button>
        </form>
      </div>
    </div>
  </nav>
  <br><br>
{% block content %}{% endblock %}
  <footer class="navbar-fixed-bottom">
    <p style="text-align:center">&nbsp;&nbsp;&copy; 2018 ANDY Air Transport Co., Ltd. | ADMIRAL Freight Service Inc. 台北市內湖區瑞光路66巷23號3樓(台北內湖科技園區)</p>
  </footer>

</body>
</html>
