{% extends 'main/base.html' %}

{% block content %}
<br><br>
<div class="container">
    <div class="col-lg-5">
        <div class="input-group my-group">
            <input type="text" class="form-control" name="snpid" placeholder="Test"/>
          <span class="input-group-append">
            <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select a lunch ...">
                <option>Hot Dog, Fries and a Soda</option>
                <option>Burger, Shake and a Smile</option>
                <option>Sugar, Spice and all things nice</option>
                <option>Baby Back Ribs</option>
                <option>A really really long option made to illustrate an issue with the live search in an inline form</option>
            </select>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-default my-group-button" type="submit">GO!</button>
            </span>
        </div>
    </div>
<div>

{% endblock %}

