{% extends "custcsn/base.html" %}

{% block app_content %}

{% include "custcsn/nav.html" with custcsn=custcsn title=title %}
{% include 'main/messages.html' %}
<div id="div_messages" class="text-center align-middle" style="position:fixed;top:80px;right:0;width:160px;height:50px;border-radius:25px;"></div>

  <form id="masterForm" role="form" method="post">{% csrf_token %}
    <div class="btn-group btn-group-md" style="margin-top:-15px; float: right;">
      <input class="btn btn-primary btn-md" type="submit" value="存檔"/>
      <a class="btn btn-warning btn-md" href="{% url 'custcsn:custcsnList' %}">離開</a>
    </div>
    <div class="col-xs-12 col-sm-12">
      {% include "custcsn/custcsnData.html" %}
    </div>
  </form>
  
<script>
  
  $(document).ready(function(){
      
        // $('#actionDiv').css('display','block');
        $('#masterForm input[type="submit"]').prop('disabled', true);

        $('#masterForm').bind('change keyup', function () {
            $('#masterForm input[type="submit"]').prop('disabled', false);
            console.log('changed');
        });
        
  });
</script>
{% endblock app_content %}