{% extends "base/base.html" %}
{% load static %}
{% block app_content %}

{% include "base/nav.html" with custadv=custadv title=title %}
<div style="width: 50%; padding: 100px 100px 10px;">
<form class="bs-example bs-example-form" role="form" method="post">{% csrf_token %}
  {{ form.non_field_errors }}

      <div class="form-group">
        {{ form.org.errors}}
        {{ form.org.label_tag}}
        {{ form.org }}
      </div>

      <div class="form-group">
          {{ form.qtndd.errors}}
          {{ form.qtndd.label_tag}}
        <div class='input-group date' id='datepicker1'>
          {{ form.qtndd }}
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        {{ form.qtns.errors}}
        {{ form.qtns.label_tag}}
        {{ form.qtns }}
      </div>

  <input class="btn btn-info btn-lg" type="submit" value="送出" />
  <a class="btn btn-warning btn-lg" href="{% url 'base:custadvView' custadv.id %}">放棄</a>

</form>
</div>
<script type="text/javascript">
   $(function () {
      $('#datepicker1').datepicker({
          format:"yyyy-mm-dd",
          todayBtn: "linked",
          language: "zh-TW",
          orientation: "bottom left",
          autoclose: true,
          todayHighlight: true,
          toggleActive: true
      });
   });
</script>
{% endblock app_content %}

