{% extends "base/base.html" %}

{% block app_content %}

{% include "base/nav.html" with custadv=custadv title=title %}
<div class="btn-group btn-group-lg" style="float: right;">
  <a href="{% url 'base:custadvUpdate' custadv.id %}" class="tabledit-edit-button btn btn-md btn-default active"><span class="glyphicon glyphicon-pencil"></span></a>
  <a href="{% url 'base:custadvDelete' custadv.id %}" class="tabledit-delete-button btn btn-md btn-default active"><span class="glyphicon glyphicon-trash"></span></a>
</div>
{% include "base/custadvData.html" %}

{% endblock app_content %}
