<div style="background-color:white; border-radius:10px;">
  <div id="custMaster">
  
  </div>
  <div id="custDetail" style="background-color:white">
      <table class="table table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th style="width: 1%;vertical-align: middle;">#ID</th>
          <th style="width: 1%;vertical-align: middle;">No.</th>
          <th style="vertical-align: middle">ORG</th>
          <th style="vertical-align: middle">日期</th>
          <th style="vertical-align: middle">說明</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function() {

      $.post("{% url 'base:custadvData' custadv.id %}",{'requestData':'master'},   //post函数到后端
        function(data,status){                                                     //回调函数
             $("#custMaster").html(data);                                          //将id为custMaster的标签的html替换为返回的data
      });
      $.post("{% url 'base:custadvData' custadv.id %}",{'requestData':'detail'},   //post函数到后端
        function(data,status) {                                                     //回调函数
            $("#custDetail tbody").html(data);                                         //将id为custMaster的标签的html替换为返回的data
      });
  })
</script>