body {
    /*background: url(../img/andyair.jpg) fixed;
    background-repeat: repeat;*/
    background-color: lightgray;
    font-size: 13px;
    /*font-family:Arial,微軟正黑體,monospace,sans-serif;*/
}

thead {
    background-color:darkslateblue;
    color:white;
}

table {
    font-size: inherit;
}

.modal {
  text-align: center;
  padding: 0!important;

}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*.my-group .form-control{*/
    /*width:50%;*/
/*}*/

/*.custom-input-group {*/
  /*position: relative;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-align: stretch;*/
    /*align-items: stretch;*/
    /*width: 100%;*/
/*}*/

/*.custom-addon {*/
/*!*You will need to add media queries to make this responsive.*!*/
 /*width: 100%;*/
/*}*/