body {
    /*background: url(../img/andyair.jpg) fixed;
    background-repeat: repeat;*/
    background-color: lightgray;
    font-size: 13px;
    /*font-family:Arial,微軟正黑體,monospace,sans-serif;*/
}

thead {
    background-color:darkslateblue;
    color:white;
}

table {
    font-size: inherit;
}

.modal {
  text-align: center;
  padding: 0!important;

}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 0.8em;
    margin: 0 0 3px;
    padding: 4px 5px;
}

td.details-control {
    background: url('{% static "main/images/details_open.png" %}') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('{% static "main/images/details_close.png" %}') no-repeat center center;
}